/* GOLF LOGO */
.navbar-brand{
    width: 9.375rem;
    background-color: #fed925;
    color: black;
    align-content: center;
}

.navbar-brand:hover{
    color: #fed925;
    background-color: black;
}

/* LINKS */
a:hover:not(.navbar-brand){
    color: #fed925;
}

a{
    color: #000;
}
.btn {
    color: #fed925; 
    background-color: black; 
    border-radius: 0%; 
    border-color: #fed925; 
    width: 200px; 
    font-size: 12px; 
    font-weight: 700;
}

.btn:hover {
    color: black;
    background-color: #fed925;
    border-color: #fed925;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 900px;
    height: 450px;;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  
  /* When you mouse over the container, fade in the overlay title */
  .card:hover .overlay {
    opacity: 0.5;
  }